/*==========================================
        RESPONSIVE
===========================================*/

/* Laptop */

@media(max-width:1200px){

.hero{

grid-template-columns:1fr;

text-align:center;

}

.hero-left p{

margin:auto;

}

.hero-buttons{

justify-content:center;

}

}


/* Tablet */

@media(max-width:992px){

.sidebar{

width:90px;

}

.logo h2{

display:none;

}

.menu li a{

justify-content:center;

}

.menu li a span{

display:none;

}

.main-content{

margin-left:90px;

width:calc(100% - 90px);

}

.search-box{

width:220px;

}

.hero{

padding:50px 30px;

}

.hero-left h1{

font-size:48px;

}

}


/* Mobile */

@media(max-width:768px){

.navbar{

padding:20px;

}

.search-box{

display:none;

}

.hero{

padding:40px 20px;

}

.hero-right img{

width:260px;
height:260px;

}

.hero-left h1{

font-size:38px;

}

.hero-left h2{

font-size:24px;

}

.hero-buttons{

flex-direction:column;

}

section{

padding:50px 20px;

}

}


/* Small Mobile */

@media(max-width:576px){

.sidebar{

display:none;

}

.main-content{

margin-left:0;

width:100%;

}

.navbar{

padding:15px;

}

.hero{

padding-top:30px;

}

.hero-left h1{

font-size:32px;

}

.hero-left h2{

font-size:20px;

}

.hero-right img{

width:220px;
height:220px;

}

}

/*=========================================
        DASHBOARD
=========================================*/

@media(max-width:992px){

.dashboard{

grid-template-columns:1fr;

text-align:center;

}

.dashboard-buttons{

justify-content:center;

}

.tech-stack{

justify-content:center;

}

.dashboard-left h1{

font-size:42px;

}

}

@media(max-width:576px){

.dashboard-left h1{

font-size:34px;

}

.dashboard-left h2{

font-size:22px;

}

.profile-card{

width:100%;

}

.profile-card img{

width:180px;

height:180px;

}

.dashboard-buttons{

flex-direction:column;

}

}

/*==============================
        ABOUT
==============================*/

@media(max-width:992px){

.about-container{

grid-template-columns:1fr;

text-align:center;

}

.about-image{

margin-bottom:20px;

}

.about-info{

grid-template-columns:1fr;

}

.info-card{

justify-content:center;

}

}

@media(max-width:576px){

.about-image img{

width:250px;

height:250px;

}

.about-content h3{

font-size:28px;

}

}

/*=========================================
                SKILLS
=========================================*/

@media(max-width:768px){

.skills-container{
    grid-template-columns:1fr;
}

.tools-grid{
    grid-template-columns:1fr 1fr;
}

}

@media(max-width:480px){

.tools-grid{
    grid-template-columns:1fr;
}

}

/*=========================================
                PROJECTS
=========================================*/

@media(max-width:768px){

.project-links{

flex-direction:column;

}

.projects-container{

grid-template-columns:1fr;

}

}
/*=========================================
        CERTIFICATES
=========================================*/

@media(max-width:768px){

.certificate-card{

flex-direction:column;

align-items:center;

text-align:center;

}

}

/*=========================================
            CONTACT
=========================================*/

@media(max-width:768px){

.contact-grid{

grid-template-columns:1fr;

}

}